<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NMF</title>
    <link rel="stylesheet" href="{{url_for('static', filename='output.css')}}">
</head>
<body class="font-poppins bg-blue-400">
    <p class="mt-5 ml-5 text-2xl">Looking at Two Knicks vs Celtics Games Through Nonnegative Matrix Factorization (NMF) </p>
    <ul class="ml-5 inline-flex mt-5">
        <li class="mr-10"><a href="/">NMF</a></li>
        <li class="mr-10"><a href="/analysis">Analysis</a></li>
        <li><a href="/heatmap_generation">Heatmap Generation</a></li>
    </ul>
    <p class="mt-5 ml-5 text-xl">What is NMF?</p>
    <p class="mt-5 ml-5 mr-10 text-base">Non-negative matrix factorization (NMF) is a linear algebra technique that factors a nonnegative matrix V into WH, where
        W and H are both nonnegative. 
        This is a useful technique because it reduces the rank of V, expressing the information in V in terms of other dimensions.
        These dimensions could represent the constituent components that are linearly combined to create an element in V, that is if we
        view V as a list of objects. 
        <br><br>
        For example, suppose that we could unrealistically have a 30 pixel by 30 pixel image of someone's face. And suppose we had 50 of these different
        images of faces. We could read the color values of those pixels as numbers and encode that image in a 30 by 30 matrix. Now, we can "flatten"
        that matrix into a 600 by 1 matrix. Then we could store those 50 600 by 1 column vectors in matrix V. 
        <img class="-my-90 scale-30" src="static/demo.png">
    </p>
    <p class="mt-5 ml-5 mr-10">
        Let's use NMF on V! We actually get to choose the number of dimensions we reduce the data to. For example, we could either 
        decompose that 600 by 5 matrix into a 600 by 15 matrix and a 15 by 5 matrix, or a 600 by 5 matrix and a 15 by 5 matrix. Miraculously, the column vectors of the W matrix act as an intuitive "basis" for the space the column vectors of V 
        span. By intuitive, I mean that the column vectors of W are actually parts of the face (the nose, mouth, eyes, ears, etc.) if you unflatten them. So what is the matrix H? 
        It turns out that each column of H is the linear combination of W's column vectors that forms one of those images previously encoded.
        Since W and H are both nonnegative, you are intuitively intensifying some of these facial features and combining them together to create a face. 
        NMF basically generates a parts-based decomposition of data. This makes it a useful tool in feature extraction which is useful in text mining and object recognition (See <a class="font-bold" href="https://arxiv.org/pdf/1401.5226">https://arxiv.org/pdf/1401.5226</a>).
    </p>
    <p class="mt-5 ml-5 text-xl">How?</p>
    <p class="mt-5 ml-5 mr-10">
        NMF makes the assumption that V = WH is possible. It isn't always possible so computers run algorithms to estimate W and H. Essentially the problem they solve is minimizing the Frobenius norm of A - WH where A is the matrix you are factoring: 
        <img class="w-50% block m-auto mt-5" src="static/frob.png">
    </p>
    <p class="mt-5 ml-5 mr-10">I am not sure I have the mathematical knowledge to understand the Frobenius norm but that's fine because we are using a computer program to do it for us!
        The reason NMF produces a parts-based representation is because W and H have to be nonnegative. While doing the matrix multiplication, there's essentially no cancellation
        that's possible in other decomposition methods like PCA. This somehow generates sparse column vectors in W as a side effect.  
    </p>
    <p class="mt-5 ml-5 text-xl">Data Collection</p>
    <p class="mt-5 ml-5 mr-10 mb-10">
        I watched two full Knicks vs Celtics games (2/23, 4/8) and tracked shot attempts and where individual players shot those shots in a Google Sheets. 
        I decided to record the shot location as the last point of contact between their foot and the ground before they shot the ball. I mapped
        out the halfcourt as a 29 by 25 mesh. So that meant that each player was represented by 29*25=725 by 1 vectors. Each entry in that vector represents shot attempts from a location on the court. 
        I decided to track only the players whom I thought consistently contributed to the team, whatever that means. The players I recorded were: Jalen Brunson, Mitchell Robinson,
        Mikal Bridges, Karl Anthony Towns, Josh Hart, OG Anunoby, Jason Tatum, Jaylen Brown, Al Horford, Derrick White, Jrue Holiday, Prayton Pritchard, and Kristaps
        Porzingis. That's a total of 13 players so I ended up with a 725 by 13 matrix. Note that this is a pretty small sample size.    
    </p>
</body>
</html>